* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Starjout.ttf";
    src: url(images/Starjout.ttf);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
    background-size: auto;
    font-family: "Starjout.ttf", sans-serif;
}

h1 {
    color: #fff;
    border: solid 1px black;
    text-align: center;
    margin-top: 1%;
    font-size: 3rem;
}

h5 {
    color: #fff;
    text-align: center;
}

label {
    width: 100%;
    cursor: pointer;
}

img {
    display: block;
    width: 78%;
    margin: 1% auto 1%;
}

input:checked~label {
    opacity: 0.5;
}

input~label {
    opacity: 1.0;
}

.container-fluid {
    padding: 0 5%;
}

.first_row {
    margin: 2% 0 1%;
}

.each_item {
    width: 65%;
    height: 96%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d3d3d3;
    border-radius: 10px;
    box-shadow: 2px 2px #dedcdc;
}

.num_order {
    display: inline-block;
    margin: 0 0 0 10%;
    font-size: 1.2rem;
    color: #000;
}

.checkbox {
    cursor: pointer;
    float: right;
    margin: 3% 10% 0 0;
    transform: scale(1.3);
    box-shadow: 1px 2px 2px #000;
}

.movie_title {
    color: #000;
    text-align: center;
    padding: 2%;
    font-size: 0.7rem;
}


/* .second_row {
    border: solid 1px yellow;
    } */